#navbar .container {
	flex-flow: column;
	align-items: center;
}

#navbar ul {
	flex-flow: column;
}

#navbar ul li a {
	padding: 5px;
}

#showcase {
	
}

#showcase .showcase-content {
	/* padding-top: 6rem; */
}

#showcase .showcase-content h1 {
	font-size: 4rem;
	line-height: 4rem;
}

#showcase .showcase-content p {
	font-size: 2rem;
	line-height: 3rem;
}
